.Calculator {
    border: 2px solid #45655e;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    margin-left: 300px;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.col {
    display: flex;
    /*max-width: 300px;*/
    height: 35px;
}

input {
}

.field {
    width: 69%;
}

.reset {
    width: 20%;
}
.num {
    width: 23%;
}

